/* ROOT */
:root{
    --primary-color:#9792e4;
    --secondary-color:#0084fd;
    --card-color:#5b6f81;
    --card-bg-color:#b5ddff;
}




/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* dEBUG */

.debug{
    background-color: grey;
    padding: 1rem;
    min-height: 80px;
}

/* UTILS */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    color: #edf6ff;
    display: none;
   
}

img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}

/* HEADER */
#header{
    background-color: var(--secondary-color);
    color: white;

}

#header > .container{
    display: flex;
    justify-content: space-between;
}

#header > .container >.logo,
#header > .container > .nav{
    padding: 25px;
}

 .container > .nav li {
 margin-right: 20px;    
}

.link-radius{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    color: black;
}
.opt{
    font-size: 40px;
}

/* FINE HEADER */

/* INIZIO MAIN/SECTION */

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    flex-wrap: wrap;
}

[class*="col"]{
    padding: 15px;
   
}
/* .col-1-3{
    width: calc(100% / 3);

}
.col-2-3{
    width: calc(100% / 3 * 2);
}
.col-1-2{
    width: 50%;
} */

.card{
    background-color:var(--card-bg-color) ;
    padding: 1rem;
    display: block;
}

/* MEDIA QUERY */

@media screen and (min-width:480px) {
    
}

