/* ROOT */
:root{
    --primary-color:#9792e4;
    --secondary-color:#0084fd;
    --card-color:#5b6f81;
    --card-bg-color:#b5ddff;
}




/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* dEBUG */

.debug{
    background-color: grey;
    padding: 1rem;
    min-height: 80px;
}

/* UTILS */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    color: #edf6ff;
    display: none;
   
}

img{
    max-width: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}
.card{
    padding: 1rem;
    display: block;
}

/* HEADER */
#header{
    background-color: var(--secondary-color);
    color: white;

}

#header > .container{
    display: flex;
    justify-content: space-between;
}

#header > .container >.logo,
#header > .container > .nav{
    padding: 25px;
}

 .container > .nav li {
 margin-right: 20px;    
}

.link-radius{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    color: black;
}
.opt{
    font-size: 40px;
}

/* FINE HEADER */

/* INIZIO MAIN/SECTION */

/* INIZIO PRIMA SEZIONE: DEMO-APP */

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    /* 
    display:flex;
    flex-wrap: wrap;  da usare dopo i 480px */
}

[class*="col"]{
    padding: 15px;
   
}
/* .col-1-3{
    width: calc(100% / 3);

}
.col-2-3{
    width: calc(100% / 3 * 2);
}
.col-1-2{
    width: 50%;
} */

#demo-app .card{
    background-color:var(--card-bg-color) ;
    
}



/* FINE PRIMA SEZIONE DEL MAIN */


/* INIIZO SECONDA SEZIONE:  PLANNING*/

#planning > .container {
    background-color: var(--primary-color);
}

/* FINE SECONDA SEZIONE */

/* TERZA SEZIONE */

/* TESTIMONIALS */

#testimonials > .container .card{
    background-color: var(--primary-color);
    margin: 10px;
}

#header-testimonials {
    display: flex;
    text-align: center;
}
.img-radius{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}



/* FINE TESTIMONIALS */

/* QUARTA SEZIONE */

/* BENEFITS */

#benefits > .container .row{
    background-color: var(--primary-color);
   
}

#benefits > .container .card{
    margin: 10px;
    background-color: white;
}

/* FINE SEZIONE BENEFITS */













/* MEDIA QUERY */

@media screen and (min-width:480px) {
    #header main{
         width: 100%;
    }
   
}

