/* ROOT */
:root{
    --primary-color:#9792e4;
    --secondary-color:#0084fd;
    --card-color:#5b6f81;
    --card-bg-color:#b5ddff;
}




/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* dEBUG */

.debug{
    background-color: grey;
    padding: 1rem;
    min-height: 80px;
}

/* UTILS */

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    color: #edf6ff;
   
   
}

img{
    max-width: 100%;
    background-size: cover;
}
a{
    color: inherit;
    text-decoration: none;
}

.clear-fix::after{
    content: "";
    display: block;
    clear: both;
}
.card{
    padding: 1rem;
    display: flex;
    border-radius: 20px;
    
    margin: 40px 10px 10px;
}


/* HEADER */
#header{
    background-color: var(--secondary-color);
    color: white;

}

#header > .container{
    display: flex;
    justify-content: space-between;
}

#header > .container >.logo,
#header > .container > .nav{
    padding: 25px;
}
.nav{
    display: block;
}

 .container > .nav li {
 margin-right: 20px;    
}

.link-radius{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    color: black;
}
.opt{
    align-items: center;
    font-size: 40px;
    display: none;
}

/* FINE HEADER */

/* INIZIO MAIN/SECTION */

/* INIZIO PRIMA SEZIONE: DEMO-APP */

#demo-app .card{
    background-color:var(--card-bg-color) ;
    
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#file{
    color: var(--secondary-color);
    font-size: 100px;
    /* margin-left: 80px; */
    
    
}

#demo-app h3{
    color: var(--secondary-color);
    text-align: center;
    line-height: 60px;
}
#demo-app p{
    color: var(--card-color);
    text-align: center;
    line-height: 20px
}
.card-left.col-1-2{
    line-height: 40px;
}
.card-right.col-1-2{
    line-height: 40px; 
}

.apple{
    background-color: var(--secondary-color);
    color: white;
    border-radius: 20px;
    padding: 5px 40px;
    margin: 20px;
    
}

[class*=".col"]{
    /* padding: 15px; */
}
.col{
    width: 100%;
}
.col-1-3{
    width: calc(100% / 3);

}
.col-2-3{
    width: calc(100% / 3 * 2);
    
}
.col-1-2{
    width: 50%;
} 





/* FINE PRIMA SEZIONE DEL MAIN */


/* INIIZO SECONDA SEZIONE:  PLANNING*/

#planning > .container {
    background-color: var(--primary-color);
    max-width: 100%;
}

/* #plan-left{
   margin-left: 100px;
   height: 200px;
} */
#planning h2 , span{
    color: white;
    /* margin-left: 100px; */
}

.card-left.col-1-2{
    margin-left: 200px;
}

.card-top.plan-left{
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-left.col-1-2 > span{
line-height: 10px;
margin-top: 50px;

}

#planning > .container .card-right.col-1-2{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}
.arrow{
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    /* transform: translate(-50%,-50%); */
    margin-left: 100px;
}

/* FINE SECONDA SEZIONE */

/* TERZA SEZIONE */

/* TESTIMONIALS */

#testimonials > .container .card{
    background-color: var(--primary-color);
    margin: 10px;
}

#header-testimonials > p {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}
#header-testimonials > h2{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
.img-radius{
   display: flex;
   justify-content: left;
    /* border: 1px solid black; */
    
}
#photo-testimonial{
    /* height: 100%;
    width: 100%; */
    object-fit: cover; 
    height: 200px;
    width: 200px;
    border-radius: 50%;
     overflow: hidden;
}


.col-2-3 > span{
   font-size: 25px;
   margin-top: 10px;
   /* vertical-align:middle;
   display: flex; */
}


/* FINE TESTIMONIALS */

/* QUARTA SEZIONE */

/* BENEFITS */

#header-benefits{
    width: 100%;
}

#header-benefits > h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom:60px ;
}

#benefits > .container {
    background-color: var(--primary-color);
    max-width: 100%;
    
}

#benefits > .container .card{
    margin: 20px;
    background-color: white;
   min-height: 300px;
   
   
}

#benefits h2 {
    color: var(--primary-color);
    font-size: 60px;
    margin: 0;
    
    
} 

#benefits h3{
color: var(--primary-color);
font-size: 30px;
}

#benefits p{
    color: var(--card-color);
    text-align: center;
}

/* FINE SEZIONE BENEFITS */

/* SEZIONE ABOUT US */
#about-us > .container .card{
    margin: 10px;
    background-color: white;
    
    display: block;
    margin-bottom: 100px;
}

#about-us h2{
    color: var(--primary-color);
    font-size: 60px;
    margin-top: 50px;
   
}
#about-us p{
    line-height: 40px;
    font-size: 20px;
    margin-top:50px ;

}
#about-us .img-radius{
    display: block;
    position: relative;
}
#photo-about-us{
    object-fit: cover; 
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
}
#about-us .img-radius p{
    color: var(--primary-color);
    font-size: 35px;
    
}
#about-us #quote{
    position: absolute;
    /* inserire posizione */
}
.linkedin{
    background-color: var(--primary-color);
    border-radius: 20px;
    color: white;
}


/* fine sezione */

/* SEZIONE PRICE */

#price > .container{
    max-width: 100%;
    background-color: var(--primary-color);
}

#price > .container .card{
 margin: 10px;
 display: block;
 margin-top: 50px;
 margin-bottom: 50px;
}
#price span{
    color: var(--card-color);
   text-align: center;
    margin-top: 40px;

}
#price h2{
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

#price h4{
    color: orange;
    font-size: 100px;
    text-align: center;
}

.started{
    background-color: white;
    color: var(--primary-color);
    border-radius:40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 40px;
    text-align: center;
    font-size: 30px;
    width: 400px;
    align-items: center;
}

/* #price span :nth-last-of-type(span){
    margin-bottom: 50px;
} */





/*  FINE SEZIONE PRICE */

/* FOOTER */

#footer{
    background-color: #333333;
    color: white;
}

#footer > .container .card {
   display: block;
}
#footer p{
    text-align: center;
    margin-bottom: 80px;
}



#footer .underline{
    color: var(--primary-color);
    text-decoration: underline;
    text-align: center;
}
/* FINE FOOTER */



/* MEDIA QUERY */

@media screen and (min-width:480px) {
    #header main{
         width: 100%;
    }
    #header > .container > .nav{
        display:none;

    } 
   .opt{
    display:  block;
   }
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

